snakes_count_10/snakes_count.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="snakes_count">
		<xsd:complexType>
			<xsd:sequence dfdl:initiator="" dfdl:separator="" dfdl:terminator="">
				<xsd:element dfdl:terminator="" name="header">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="," dfdl:terminator="">
							<xsd:element dfdl:initiator="" dfdl:terminator="" dfdl:textNumberPattern="0" name="GameNumber" type="xsd:string"/>
							<xsd:element dfdl:initiator="" dfdl:outputNewLine="%CR;%LF;" dfdl:terminator="%NL;" minOccurs="0" name="GameLength" type="xsd:string"/>														
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>			
				<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="" maxOccurs="unbounded" name="record">
					<xsd:complexType>
						<xsd:sequence dfdl:separator=","> 
							<xsd:element dfdl:textNumberPattern="0" minOccurs="0" name="Gamenumber" type="xsd:string"/>
							<xsd:element dfdl:terminator="%NL;" dfdl:textNumberPattern="0" minOccurs="0" name="Gamelength" type="xsd:string"/>
                            						                                                                                                                                                                                                                            </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



</xsd:schema>