Soap Nodes/soapreq_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/soapreq/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/soapreq/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="Addition">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="A" type="xsd:int"/>
          	<xsd:element name="B" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="AdditionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="C" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="Subtraction">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="X" type="xsd:int"/>
      			<xsd:element name="Y" type="xsd:int"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="SubtractionResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="Z" type="xsd:int"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>