Wsdl_CRUD/CrudWsdl_File.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="CrudWsdl_File" targetNamespace="http://www.example.org/CrudWsdl_File/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/CrudWsdl_File/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="CrudWsdl_FileSOAP" originalBindingStyle="document"/>
        <generatedXSD location="CrudWsdl_File_InlineSchema1.xsd"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  
  
  
  <wsdl:types>
    
          <xsd:schema targetNamespace="http://www.example.org/CrudWsdl_File/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
<xsd:include schemaLocation="CrudWsdl_File_InlineSchema1.xsd"/>
</xsd:schema>
          <xsd:schema>
<xsd:import namespace="http://www.example.org/CrudWsdl_File/" schemaLocation="CrudWsdl_File_InlineSchema1.xsd">
          	</xsd:import>
</xsd:schema>
  </wsdl:types>
  <wsdl:types>
  	<xsd:schema>
  		<xsd:import namespace="http://www.example.org/CrudWsdl_File/" schemaLocation="CrudWsdl_File_InlineSchema1.xsd">
  		</xsd:import>
    </xsd:schema>
  </wsdl:types>
  <wsdl:types>
  	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  		<xsd:import namespace="http://www.example.org/CrudWsdl_File/"
  			schemaLocation="CrudWsdl_File_InlineSchema1.xsd">
  		</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="createRequest">
    <wsdl:part element="tns:create" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part element="tns:createResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdateRequest">
  	<wsdl:part element="tns:Update" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdateResponse">
  	<wsdl:part element="tns:UpdateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="RetrieveRequest">
  	<wsdl:part element="tns:Retrieve" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="RetrieveResponse">
  	<wsdl:part element="tns:RetrieveResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DeleteRequest">
  	<wsdl:part element="tns:Delete" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DeleteResponse">
  	<wsdl:part element="tns:DeleteResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="CrudWsdl_File">
    <wsdl:operation name="create">
      <wsdl:input message="tns:createRequest"/>
      <wsdl:output message="tns:createResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Update">
    	<wsdl:input message="tns:UpdateRequest"/>
    	<wsdl:output message="tns:UpdateResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Retrieve">
    	<wsdl:input message="tns:RetrieveRequest"/>
    	<wsdl:output message="tns:RetrieveResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Delete">
    	<wsdl:input message="tns:DeleteRequest"/>
    	<wsdl:output message="tns:DeleteResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CrudWsdl_FileSOAP" type="tns:CrudWsdl_File">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="create">
      <soap:operation soapAction="http://www.example.org/CrudWsdl_File/create"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://www.example.org/CrudWsdl_File/create"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retrieve">
      <soap:operation soapAction="http://www.example.org/CrudWsdl_File/create"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://www.example.org/CrudWsdl_File/create"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CrudWsdl_File">
    <wsdl:port binding="tns:CrudWsdl_FileSOAP" name="CrudWsdl_FileSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>