Wsdl_CRUD/CrudWsdl_File_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/CrudWsdl_File/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/CrudWsdl_File/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="create" type="tns:NewType">

      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="createResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="Status" type="xsd:string"/>
          	<xsd:element name="status_code" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
    
      <xsd:complexType name="NewType">
      	<xsd:sequence>
      		<xsd:element name="No_Of_Columns" type="xsd:int"/>
      		<xsd:element name="Column_Names" type="xsd:string"/>
      		<xsd:element name="DataTypes" type="xsd:string"/>
      		<xsd:element name="TableName" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Update">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="Table_Name" type="xsd:string"/>
      			<xsd:element name="Emp_Id" type="xsd:int"/>
      			<xsd:element name="Emp_Name" type="xsd:string"/>
      			<xsd:element name="Emp_Sal" type="xsd:int"/>
      			<xsd:element name="Emp_Loc" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="Status" type="xsd:string"/>
      			<xsd:element name="Status_Code" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="Retrieve">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="Table_Name" type="xsd:string"/>
      			<xsd:element name="Query" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="RetrieveResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="Status" type="xsd:string"/>
      			<xsd:element maxOccurs="unbounded" minOccurs="1" name="Record" type="tns:Emp_ComplexType"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="Table_Name" type="xsd:string"/>
      			<xsd:element name="Query" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="Status" type="xsd:string"/>

      			<xsd:element name="Status_Code" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
            <xsd:complexType name="Emp_DataType"/>
        
            <xsd:complexType name="Emp_ComplexType">
            	<xsd:sequence>
            		<xsd:element maxOccurs="unbounded" minOccurs="1" name="columns" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
        <xsd:complexType name="create"/>
</xsd:schema>